<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body class="bg-gradient-primary">
	<div class="container">

		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div class="col-lg-5 d-none d-lg-block bg-login-image"></div>
					<div class="col-lg-7">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">Crea una cuenta!</h1>
							</div>
							<form class="user">
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input type="text" class="form-control form-control-user" id="exampleFirstName"
											placeholder="Nombres">
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control form-control-user" id="exampleLastName"
											placeholder="Apellidos">
									</div>
								</div>
								<div class="form-group">
									<input type="email" class="form-control form-control-user" id="exampleInputEmail"
										placeholder="Correo Electronico">
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input type="password" class="form-control form-control-user"
											id="exampleInputPassword" placeholder="Contraseña">
									</div>
									<div class="col-sm-6">
										<input type="password" class="form-control form-control-user"
											id="exampleRepeatPassword" placeholder="Repetir Contraseña">
									</div>
								</div>
								<a href="login.html" class="btn btn-primary btn-user btn-block">
									Registrarse
								</a>
								<hr>
								<a href="index.html" class="btn btn-google btn-user btn-block">
									<i class="fab fa-google fa-fw"></i> Registrarse con Google
								</a>
								<a href="index.html" class="btn btn-facebook btn-user btn-block">
									<i class="fab fa-facebook-f fa-fw"></i> Registrarse con Facebook
								</a>
							</form>
							<hr>
							<div class="text-center">
								<a class="small" href="forgot-password.html">¿Me olvide mi contraseña?</a>
							</div>
							<div class="text-center">
								<a class="small" th:href="@{/login}">Ya tengo una cuenta</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>